<!-- header -->
<mat-toolbar color="primary" class="app-header">
  <mat-toolbar-row>
    <div layout="row" layout-align="right">
        <a mat-button>
            <img src="assets\img\logo.png" class="logo">
        </a>
    </div>
    
    <span class="menu-spacer"></span>

    <div layout="row" layout-align="right" class="textRight width100">
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'/create-account'"> About Us </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts Us</a>
      <span class="nav-tool-items">
        <a mat-button routerLink="login" routerLinkActive="active">Login</a>
        <a mat-button mat-raised-button color="accent" routerLink="register" routerLinkActive="active">Register</a>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
