<!-- footer -->
<mat-sidenav-container class="footer">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="text-center">
      <div class="col-sm-6 social-link">
        <div class="row text-center">
          <div class="social-link-container">
            <a href="" title="Facebook" target="_blank"><img src="/assets/img/fb_icon.jpg" /></a>
            <a href="" title="Twitter" target="_blank"><img src="/assets/img/twt_icon.jpg" /></a>
            <a href="" title="Linkedin" target="_blank"><img src="/assets/img/link_icon.jpg" /></a>
            <a href="" title="Pinterest" target="_blank"><img src="/assets/img/pin_icon.jpg" /></a>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- Copyright -->
    <div class="footer-copyright-container text-center">
      <div class="footer-copyright">© 2021 Copyright:
        <a href="#"> Sohal Softwares</a>
      </div>
    </div>
    <!-- Copyright -->
  </mat-sidenav-content>
</mat-sidenav-container>
